.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo{
  font-size: 50px;
  margin-left: 40%;
  color: rgb(187, 186, 186);
}
.container {
  border-radius: 8px;
  width: 600px;
  position: relative;
  box-shadow: 5px 10px #b4b4b4;
  background-color: rgb(236, 232, 232);
}

.add {
  width: 112px;
  border-radius: 8px;
  height: 40px;
  border: 1px solid rgb(187, 186, 186);
  background-color: rgb(238, 228, 228);
}

.input {
  width: 80%;
  height: 30px;
  background-color: rgb(238, 228, 228);
  border-radius: 8px;
  border: 1px solid rgb(187, 186, 186);
}

.itemTodo {
  border-bottom: 1px dotted rgb(179, 179, 184);
  height: 30px;
  padding-top: 10px;
}

.deleteItem {
  position: absolute;
  border: 1px solid rgb(187, 186, 186);
  right: 20px;
  background-color: rgb(238, 228, 228);
  border-radius: 8px;
  width: 40px;
}

.checkbox {
  margin-left: 20px;
  margin-right: 20px;
}

.checkedCount{
  margin-left: 20px;
}

.footer{
  height: 30px;
  padding-top: 10px;
}

.clearChecked{
  position: absolute;
  right: 20px;
  border: 1px solid rgb(187, 186, 186);
  background-color: rgb(238, 228, 228);
  border-radius: 8px; 
  height: 25px;
}

.itemTodo:hover{
  background-color: rgb(219, 216, 216);
}

.clearChecked:hover{
  cursor: pointer;
  background-color: #b4b4b4;
}

.deleteItem:hover{
  background-color: #b4b4b4;
  cursor: pointer;
}

.add:hover{
  cursor: pointer;
  background-color: #b4b4b4;
}